body{
    margin: 0%;
    padding: 0%;
    background: #202221;
   
}


header{
    display: flex;
    justify-content: flex-end;
}
ul{
    display: flex;
}


li  {
    list-style: none;
}

li a{
    text-decoration: none;
    padding: 30px;
    color: #B68B4B;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card{
    display: flex;

}
.icons{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    height: 400px;
    margin-left: 0%;
    
}
.icon1{
    padding-left: 90px;

}

.icon2{
    padding-left: 62px;
}
.icon3{
    padding-left: 90px;
}

.icons img {
    box-shadow: 0.9px .3px 12px #B68B4B;
}
.image{
    background: #B68B4B;
    border-radius: 560px;
    box-shadow: 4px 8px 20px #B68B4B; 
    animation: rotatingUnderlight;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction: alternate-reverse;
    padding: 0%;
    margin-right: 0%;

}
.image:hover{
    transform: scale(1.1);
}
.skills{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    background: #303531;
    width: 75%;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 7px;
    padding-left: 15px;
    padding-right: 15px;
}
.skills h4{
    padding: 10px;
}
h2{
    color: #B68B4B;
}
h3{
    color: #654922;
}

h4{
    color: #B68B4B;
}

p{
    color: #B68B4B;
}


.Previous{
    display: flex;
    padding-right: 25%;
    justify-content: center;
    color: #654922;
    margin-bottom: 0%;
}
.what-I{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 0.5%;
    background: #303531;
    width: 75%;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 7px;
    padding-left: 15px;
    padding-right: 15px;
    animation: flowIn;
    animation-duration: 3s;
}
.what-I h3{
    color: #B68B4B
}
@keyframes rotatingUnderlight{
from{box-shadow: 6px 8px 20px #B68B4B;}
to {box-shadow: -6px -9px 20px #654922;}
}
@keyframes flowIn{
    from{margin-left: 100%;}
    to{margin-left: 10%;}
}

.Services{
    align-self: flex-end;
    position: absolute;
    color: #654922;
    margin-bottom: 4.7%;

}


.Service-box{
    background: #303531;
    border-radius: 7px;
    width: 75%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow:  4px 4px 20px;
    align-self: flex-end;
    position: absolute;
    display: flex;
    justify-content: center;
    color: #B68B4B;
    animation: rotatingUnderlight;
    animation-iteration-count: infinite;
    animation-duration: 3.8s;
    animation-direction: alternate-reverse;
}

