body {
    margin: 0%;
    padding: 0%;
    background: #171717;
}

header {
    display: flex;
    justify-content: flex-end;
}
header ul {
    display: flex;
}

header li {
    list-style: none;
}

header li a {
    text-decoration: none;
    padding: 30px;
    color: #9ba8ab;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 100vh;
}
.card {
    display: flex;
}

.card-content {
    align-self: flex-end;
}

.icons {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    height: 400px;
    margin-left: 0%;
}
.icon1 {
    padding-left: 90px;
}

.icon2 {
    padding-left: 62px;
}
.icon3 {
    padding-left: 90px;
}

.hero-pfp {
    background: #484848;
    border-radius: 560px;
    box-shadow: 4px 8px 20px #484848;
    animation: rotatingUnderlight;
    animation-iteration-count: infinite;
    animation-duration: 2.7s;
    animation-direction: alternate-reverse;
    padding: 0%;
    margin-right: 0.98%;
}
.hero-pfp:hover {
    transform: scale(1.1);
}
.skills {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 35px;
    background: #303531;
    width: 85%;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.skills h4 {
    padding: 10px;
}
h2 {
    color: #9ba8ab;
}
h3 {
    color: #9ba8ab;
}

h4 {
    color: #9ba8ab;
}

p {
    color: #9ba8ab;
}

.Previous-Roles {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 0%;
    background: #303531;
    width: 85%;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    animation: flowIn;
    animation-duration: 3s;
}
.Previous-Roles h3 {
    color: #e1e1e1;
}
@keyframes rotatingUnderlight {
    from {
        box-shadow: 6px 8px 20px #e1e1e1;
    }
    to {
        box-shadow: -6px -9px 20px #666666;
    }
}
@keyframes flowIn {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 10%;
    }
}



.Resume-T {
    color: #ccd0cf;
    opacity: 120%;
}

.Services-T {
    color: #ccd0cf;
}

.toggle {
    margin-top: auto;
    display: flex;
}

#toggle {
    background: transparent;
    border: none;
    opacity: 20%;
}
#toggle1 {
    background: transparent;
    border: none;
    opacity: 20%;
}
.Resume {
    background: #303531;
    border-radius: 7px;
    margin-bottom: 30px;
    padding-left: 20px;
    width: 67%;
    padding-right: 20px;
    box-shadow: 4px 4px 20px;
    color: #ccd0cf;
    animation: rotatingUnderlight;
    animation-iteration-count: infinite;
    animation-duration: 3.8s;
    animation-direction: alternate-reverse;
